* {
  padding: 0;
  margin: 0;
}
.back {
  width: 1263px;
  height: 700px;
  border: 1px solid black;
  display: grid;
  overflow: hidden;
  grid-template-columns: auto auto;
  align-items: center;
  align-content: center;
  filter: brightness(70%) blur(1px);
}
.back div {
  height: 350px;
  width: auto;
  border: 2px solid white;
}
.Satu {
  background-color: skyblue;

  background-image: url(../AssetImg/AKL.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.Dua {
  background-color: skyblue;

  background-image: url(../AssetImg/angkatan.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.Tiga {
  background-color: yellowgreen;

  background-image: url(../AssetImg/angkatan.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.Empat {
  background-color: yellowgreen;

  background-image: url(../AssetImg/angkatan.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.lima {
  height: 200px;
  width: 200px;

  background-image: url(../AssetImg/SMK.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: -454px;
  margin-left: 533px;
  filter: blur(1px);
}

.nama {
  z-index: 2;
  position: absolute;
  margin-top: 150px;
  margin-left: 460px;
  color: white;
}
.nama p {
  text-align: center;
}

/* Resposip Mobile */

@media (max-width: 480px) {
  .back {
    margin-top: 50px;
    width: 100%;
    height: auto;
    border: 1px solid black;
    display: grid;
    overflow: hidden;
    grid-template-columns: auto;
    align-items: center;
    align-content: center;
  }
  .back div {
    height: 200px;
    width: auto;
    background-color: skyblue;
    border: 1px solid wheat;

    background-repeat: no-repeat;
    background-size: cover;
  }
  .Satu {
    background-color: skyblue;

    background-image: url(../AssetImg/AKL.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .Dua {
    background-color: yellowgreen;

    background-image: url(../AssetImg/angkatan.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .Tiga {
    background-color: yellowgreen;

    background-image: url(../AssetImg/angkatan.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .Empat {
    background-color: skyblue;

    background-image: url(../AssetImg/angkatan.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
/* Tablet */
