* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
.back {
  width: 100vw;
  height: 100vh;
  border: 1px solid black;
  display: grid;
  overflow: hidden;
  grid-template-columns: auto auto;
  align-items: center;
  align-content: center;
  filter: brightness(70%) blur(1px);
}
.back div {
  height: 50vh;
  width: 50vw;
  border: 2px solid white;
}
.Satu {
  background-color: skyblue;

  background-image: url(../AssetImg/AKL.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.Dua {
  background-color: skyblue;
  background-position: center;
  background-image: url(../AssetImg/TKJ.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.Tiga {
  background-color: yellowgreen;
  background-position: center;
  background-image: url(../AssetImg/TBSM.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.Empat {
  background-color: yellowgreen;
  background-position: center;
  background-image: url(../AssetImg/angkatan.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.nama {
  width: 100vw;
  margin-top: 20vh;
  text-align: center;
  z-index: 20;
  position: absolute;
  color: rgb(255, 255, 255);
}
.nama h1 {
  text-align: center;
}

/* Slide */
.hidden {
  opacity: 0;
}
.console-container {
  z-index: 30;
  width: 70vw;
  height: 70vh;
  margin-top: 30vh;
  margin-left: 15vw;
  text-align: center;
  z-index: 20;
  font-size: 2em;
  position: absolute;
}
.console-underscore {
  color: white;
  display: inline-block;
  position: relative;
  top: 0.2em;
  left: -2px;
}

/* Resposip Mobile */

@media (max-width: 480px) {
  .back {
    margin-top: 50px;
    width: 100vw;
    height: auto;
    border: 1px solid black;
    display: grid;
    overflow: hidden;
    grid-template-columns: auto;
    align-items: center;
    align-content: center;
  }
  .back div {
    height: 25vh;
    width: auto;
    background-color: skyblue;
    border: 1px solid wheat;

    background-repeat: no-repeat;
    background-size: cover;
  }
  .Satu {
    background-color: skyblue;
    background-position: center;
    background-image: url(../AssetImg/AKL.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .Dua {
    background-color: yellowgreen;
    background-position: center;
    background-image: url(../AssetImg/angkatan.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .Tiga {
    background-color: yellowgreen;
    background-position: center;
    background-image: url(../AssetImg/angkatan.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .Empat {
    background-color: skyblue;
    background-position: center;
    background-image: url(../AssetImg/angkatan.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* .nama {
    z-index: 2;
    position: absolute;
    color: white;
  }
  .nama p {
    text-align: center;
  } */
}
/* Tablet */
